# Android
*.jks
*.keystore
key.properties
android/app/google-services.json
google-services.json
GoogleService-Info.plist

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# iOS
ios/Pods/
ios/.symlinks/
*.xcworkspace/xcuserdata/

# Debug symbols
build/debug-info/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Secrets & env
.env
.env.*
*.pem
